<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.ems" annotation-config="true"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="/WEB-INF/spring/jdbc.properties"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <!-- 【必须】  数据库驱动-->
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <!-- 【必须】 数据库连接地址 -->
        <property name="url" value="${jdbc.url}"/>
        <!-- 【必须】 数据库用户名 -->
        <property name="username" value="${jdbc.username}"/>
        <!-- 【必须】 数据库密码 -->
        <property name="password" value="${jdbc.password}"/>
        <!-- 可选 启动时创建的连接数 -->
        <property name="initialSize" value="5"/>
        <!-- 可选 同时可从池中分配的最多连接数，0无限制 -->
        <property name="maxActive" value="10"/>
        <!-- 可选 池中不会被释放的最多空闲连接数 0无限制 -->
        <property name="maxIdle" value="5"/>
        <!-- 可选 同时能从语句池中分配的预处理语句最大值，0无限制 -->
        <property name="maxOpenPreparedStatements" value="100"/>
        <!-- 可选 抛异常前池等待连接回收最大时间（当无可用连接），-1无限等待 -->
        <property name="maxWait" value="1000"/>
        <!-- 可选 连接在池中保持空闲而不被回收的最大时间 -->
        <property name="minEvictableIdleTimeMillis" value="2000"/>
        <!-- 可选 不创建新连接情况下池中保持空闲的最小连接数 -->
        <property name="minIdle" value="2"/>
        <!-- 可选 布尔值，是否对预处理语句进行池管理 -->
        <property name="poolPreparedStatements" value="true"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="/WEB-INF/spring/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath*:mappers/*Mapper.xml"/>
    </bean>

    <!--<bean id="sqlSessionTemplate"-->
    <!--class="org.mybatis.spring.SqlSessionTemplate"-->
    <!--c:sqlSessionFactory-ref="sqlSessionFactory"/>-->

    <bean name="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ems.entity.mapper"/>
    </bean>

    <!-- 使用@Transactional进行声明式事务管理需要声明下面这行 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
    <!-- 事务管理 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
        <property name="rollbackOnCommitFailure" value="true"/>
    </bean>


</beans>