<configuration scan="true" scanPeriod="30 seconds">
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <logger name="org.springframework" level="OFF"/>
    <logger name="net.sf.ehcache" level="OFF"/>
    <logger name="org.apache.shiro" level="OFF"/>
    <logger name="com.zaxxer" level="OFF"/>
    <logger name="java.sql" level="OFF"/>
    <logger name="org.mybatis.spring" level="OFF"/>
    <logger name="org.apache.ibatis" level="OFF"/>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
