<configuration scan="true" scanPeriod="30 seconds">
    <contextName>ems</contextName>
    <!-- 按照每天生成日志文件 -->
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/ems/ems.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${catalina.base}/logs/ems/ems.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName %-5level %logger{36} - %msg%n</pattern>
            <!-- 字符集 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <logger name="org.springframework" level="OFF"/>
    <logger name="net.sf.ehcache" level="OFF"/>
    <logger name="org.apache.shiro" level="OFF"/>
    <logger name="com.zaxxer" level="OFF"/>
    <logger name="java.sql" level="OFF"/>
    <logger name="org.mybatis.spring" level="OFF"/>
    <logger name="org.apache.ibatis" level="OFF"/>
    <!-- 开发环境下的日志配置 -->
    <springProfile name="dev">
        <root level="DEBUG">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <!-- 生产环境下的日志配置 -->
    <springProfile name="pro,test">
        <root level="DEBUG">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>
