<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ems.entity.mapper.SysDistrictMapper">
    <resultMap id="BaseResultMap" type="com.ems.entity.SysDistrict">
        <constructor>
            <idArg column="dist_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="dist_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="dist_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="dist_category" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="dist_address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="dist_parent_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="create_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="usable" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="remarks" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        dist_id, dist_name, dist_code, dist_category, dist_address, dist_parent_id, create_time,
        create_by, update_time, update_by, usable, remarks
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_district
        where dist_id = #{distId,jdbcType=INTEGER} and usable = 1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_district
        where dist_id = #{distId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ems.entity.SysDistrict">
        insert into sys_district (dist_name, dist_code,
        dist_category, dist_address, dist_parent_id,
        create_time, create_by, update_time,
        update_by, remarks
        )
        values (#{distName,jdbcType=VARCHAR}, #{distCode,jdbcType=VARCHAR},
        #{distCategory,jdbcType=INTEGER}, #{distAddress,jdbcType=VARCHAR}, #{distParentId,jdbcType=INTEGER},
        NOW(), #{createBy,jdbcType=INTEGER}, NOW(),
        #{updateBy,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.ems.entity.SysDistrict">
        insert into sys_district
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="distId != null">
                dist_id,
            </if>
            <if test="distName != null">
                dist_name,
            </if>
            <if test="distCode != null">
                dist_code,
            </if>
            <if test="distCategory != null">
                dist_category,
            </if>
            <if test="distAddress != null">
                dist_address,
            </if>
            <if test="distParentId != null">
                dist_parent_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="usable != null">
                usable,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="distId != null">
                #{distId,jdbcType=INTEGER},
            </if>
            <if test="distName != null">
                #{distName,jdbcType=VARCHAR},
            </if>
            <if test="distCode != null">
                #{distCode,jdbcType=VARCHAR},
            </if>
            <if test="distCategory != null">
                #{distCategory,jdbcType=INTEGER},
            </if>
            <if test="distAddress != null">
                #{distAddress,jdbcType=VARCHAR},
            </if>
            <if test="distParentId != null">
                #{distParentId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="usable != null">
                #{usable,jdbcType=BIT},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ems.entity.SysDistrict">
        update sys_district
        <set>
            <if test="distName != null">
                dist_name = #{distName,jdbcType=VARCHAR},
            </if>
            <if test="distCode != null">
                dist_code = #{distCode,jdbcType=VARCHAR},
            </if>
            <if test="distCategory != null">
                dist_category = #{distCategory,jdbcType=INTEGER},
            </if>
            <if test="distAddress != null">
                dist_address = #{distAddress,jdbcType=VARCHAR},
            </if>
            <if test="distParentId != null">
                dist_parent_id = #{distParentId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="usable != null">
                usable = #{usable,jdbcType=BIT},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where dist_id = #{distId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ems.entity.SysDistrict">
        update sys_district
        set dist_name = #{distName,jdbcType=VARCHAR},
        dist_code = #{distCode,jdbcType=VARCHAR},
        dist_category = #{distCategory,jdbcType=INTEGER},
        dist_address = #{distAddress,jdbcType=VARCHAR},
        dist_parent_id = #{distParentId,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=INTEGER},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=INTEGER},
        usable = #{usable,jdbcType=BIT},
        remarks = #{remarks,jdbcType=VARCHAR}
        where dist_id = #{distId,jdbcType=INTEGER}
    </update>
    <select id="checkDistName" parameterType="java.lang.String" resultType="boolean">
        select
        COUNT(1)
        from sys_district
        where dist_name = #{distName}
    </select>
    <select id="checkUsable" parameterType="java.lang.String" resultType="boolean">
        select
        COUNT(1)
        from sys_district
        where dist_name = #{distName} and usable = 1
    </select>
    <select id="checkIdAndName" parameterType="map" resultType="boolean">
        select
        COUNT(1)
        from sys_district
        where dist_name = #{distName,jdbcType=VARCHAR} and dist_id != #{distId,jdbcType=INTEGER} and usable = 1
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_district
        where usable = 1
    </select>
    <select id="getCountWithUnusable" parameterType="com.ems.entity.SysDistrict" resultType="int">
        select
        count(1)
        from sys_district
    </select>
    <select id="getChildrenDist" resultMap="BaseResultMap" parameterType="integer">
        select
        <include refid="Base_Column_List"/>
        from sys_district
        where dist_parent_id = #{distId,jdbcType=INTEGER} and usable = 1
    </select>
    <update id="deleteBatch" parameterType="list">
        update sys_district
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="update_by = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.updateBy != null">
                        when dist_id = #{i.distId} then #{i.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.updateTime != null">
                        when dist_id = #{i.distId} then NOW()
                    </if>
                </foreach>
            </trim>
            <trim prefix="usable =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.usable != null">
                        when dist_id =#{i.distId} then 0
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="i" index="index">
            dist_id = #{i.distId}
        </foreach>
    </update>

    <resultMap id="SysDistrictParam" type="com.ems.param.SysDistrictParam">
        <constructor>
            <idArg column="dist_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="dist_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="dist_code" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="dist_category" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="dist_category_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="dist_address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="dist_parent_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="dist_parent_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="create_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="usable" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="remarks" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <select id="getAllDist" resultMap="SysDistrictParam">
        SELECT s1.dist_id, s1.dist_name, s1.dist_code,
        s1.dist_category, sd.dict_key AS dist_category_name, s1.dist_address, s1.dist_parent_id, s2.dist_name AS dist_parent_name,
        s1.create_time, s1.create_by, s1.update_time,
        s1.update_by, s1.usable, s1.remarks
        FROM sys_district s1
        LEFT JOIN sys_district s2 ON s1.dist_parent_id = s2.dist_id
        LEFT JOIN sys_dictionary sd on s1.dist_category = sd.dict_value and sd.dict_category = 'dist_type' and sd.usable = 1
        WHERE s1.usable = 1
        ORDER BY s1.dist_id
    </select>
    <sql id="getDictType">
        SELECT dict_value FROM sys_dictionary WHERE dict_category = 'dist_type' AND dict_key = #{distCategory,jdbcType=VARCHAR}
    </sql>
    <insert id="createDistrict" parameterType="com.ems.param.SysDistrictParam">
        insert into sys_district (dist_name, dist_code,
        dist_category, dist_address, dist_parent_id,
        create_time, create_by, update_time,
        update_by, remarks
        )
        values (#{distName,jdbcType=VARCHAR}, #{distCode,jdbcType=VARCHAR},
        #{distCategory,jdbcType=INTEGER}, #{distAddress,jdbcType=VARCHAR}, #{distParentId,jdbcType=INTEGER},
        NOW(), #{createBy,jdbcType=INTEGER}, NOW(),
        #{updateBy,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateDistrict" parameterType="com.ems.param.SysDistrictParam">
        update sys_district
        set dist_name = #{distName,jdbcType=VARCHAR},
        dist_code = #{distCode,jdbcType=VARCHAR},
        dist_category = #{distCategory,jdbcType=INTEGER},
        dist_address = #{distAddress,jdbcType=VARCHAR},
        dist_parent_id = #{distParentId,jdbcType=INTEGER},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=INTEGER},
        remarks = #{remarks,jdbcType=VARCHAR}
        where dist_id = #{distId,jdbcType=INTEGER}
    </update>
    <select id="selectDistrict" resultMap="SysDistrictParam" parameterType="map">
        SELECT s1.dist_id, s1.dist_name, s1.dist_code,
        s1.dist_category, sd.dict_key AS dist_category_name, s1.dist_address, s1.dist_parent_id, s2.dist_name AS dist_parent_name,
        s1.create_time, s1.create_by, s1.update_time,
        s1.update_by, s1.usable, s1.remarks
        FROM sys_district s1
        LEFT JOIN sys_district s2 ON s1.dist_parent_id = s2.dist_id
        LEFT JOIN sys_dictionary sd on s1.dist_category = sd.dict_value and sd.dict_category = 'dist_type' and sd.usable = 1
        WHERE s1.usable = 1
        <if test="distName != null and distName != ''">
            AND s1.dist_name LIKE CONCAT('%', #{distName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="distCode != null and distCode != ''">
            AND s1.dist_code LIKE CONCAT('%', #{distCode,jdbcType=VARCHAR}, '%')
        </if>
        ORDER BY s1.dist_id
    </select>
</mapper>