<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ems.entity.mapper.SysDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.ems.entity.SysDictionary" >
    <constructor >
      <idArg column="dict_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dict_key" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dict_value" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dict_category" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dict_sort" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="usable" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    dict_id, dict_key, dict_value, dict_category, dict_sort, create_time, create_by,
    update_time, update_by, usable, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_dictionary
    where dict_id = #{dictId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_dictionary
    where dict_id = #{dictId} and usable ="1"
  </delete>
  <insert id="insert" parameterType="com.ems.entity.SysDictionary" >
    insert into sys_dictionary (dict_id, dict_key,
      dict_value, dict_category, dict_sort,
      create_time, create_by, update_time,
      update_by, usable, remarks
      )
    values ( #{dictId,jdbcType=INTEGER}, #{dictKey,jdbcType=VARCHAR},
      #{dictValue,jdbcType=VARCHAR}, #{dictCategory,jdbcType=VARCHAR}, #{dictSort,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=INTEGER}, #{usable,jdbcType=BIT}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ems.entity.SysDictionary" >
    insert into sys_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        dict_id,
      </if>
      <if test="dictKey != null" >
        dict_key,
      </if>
      <if test="dictValue != null" >
        dict_value,
      </if>
      <if test="dictCategory != null" >
        dict_category,
      </if>
      <if test="dictSort != null" >
        dict_sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="usable != null" >
        usable,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictId != null" >
        #{dictId,jdbcType=INTEGER},
      </if>
      <if test="dictKey != null" >
        #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictCategory != null" >
        #{dictCategory,jdbcType=VARCHAR},
      </if>
      <if test="dictSort != null" >
        #{dictSort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="usable != null" >
        #{usable,jdbcType=BIT},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ems.entity.SysDictionary" >
    update sys_dictionary
    <set >
      <if test="dictKey != null" >
        dict_key = #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictCategory != null" >
        dict_category = #{dictCategory,jdbcType=VARCHAR},
      </if>
      <if test="dictSort != null" >
        dict_sort = #{dictSort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="usable != null" >
        usable = #{usable,jdbcType=BIT},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where  dict_id = #{dictId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ems.entity.SysDictionary" >
    update sys_dictionary
    set dict_key = #{dictKey,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      dict_category = #{dictCategory,jdbcType=VARCHAR},
      dict_sort = #{dictSort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      usable = #{usable,jdbcType=BIT},
      remarks = #{remarks,jdbcType=VARCHAR}
    where dict_id = #{dictId}
  </update>
  <!-- 查询所有数据List -->
  <select id="findList" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from sys_dictionary
    where usable ="1"
    order by update_time desc
  </select>
  <!-- 修改时查看是否存在该条记录 -->
  <select id="selectCountById" resultType="java.lang.Integer" parameterType="com.ems.entity.SysDictionary" >
    select
     COUNT(0)
    from sys_dictionary
    where usable ="1"
    <if test="dictId!= null">
      AND dict_id=#{dictId}
    </if>
    <if test="ids != null ">
      AND dict_id in
      <foreach item="dictId" collection="ids" open="(" separator="," close=")">
        #{dictId}
      </foreach>
    </if>
  </select>
  <!-- 根据字典类型查看对应字典数据List -->
  <select id="findListByType" resultMap="BaseResultMap" parameterType="java.lang.String"  >
    select
    <include refid="Base_Column_List" />
    from sys_dictionary
    where usable ="1"
    and
    dict_category = #{dictCategory,jdbcType=VARCHAR}
  </select>
  <!-- 删除数据此处只需要修改删除标记即可 -->
  <update id="deleteSysDictionary" parameterType="com.ems.entity.SysDictionary">

    UPDATE sys_dictionary SET usable=0
    WHERE 1=1
    <if test="ids != null ">
      AND dict_id in
      <foreach item="dictId" collection="ids" open="(" separator="," close=")">
        #{dictId}
      </foreach>
    </if>
  </update>
  <!-- 页面头部筛，选依据条件查看对应数据List -->
  <select id="findListByDict" resultMap="BaseResultMap" parameterType="com.ems.entity.SysDictionary"  >
    select
    <include refid="Base_Column_List" />
    from sys_dictionary
    where usable ="1"
      <if test="dictId != null" >
          AND locate (#{dictId} ,dict_id) > 0
      </if>
      <if test="dictCategory != null and dictCategory!=''" >
          AND locate (#{dictCategory} ,dict_category) > 0
      </if>

  </select>
  <!--根据字典类型和key获取对应字典值-->
  <select id="dictCategoryByType" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT dict_value FROM sys_dictionary WHERE dict_key=#{dictKey} AND dict_category=#{dictCategory}

  </select>
</mapper>