<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ems.entity.mapper.SysOrganizationMapper">
    <resultMap id="BaseResultMap" type="com.ems.entity.SysOrganization">
        <constructor>
            <arg column="org_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="org_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="org_code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="org_category" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="org_parent_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="create_by" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_by" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="useable" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="com.ems.entity.SysOrganization">
        insert into sys_organization (org_id, org_name, org_code,
        org_category, org_parent_id, create_time,
        create_by, update_time, update_by,
        useable, remarks)
        values (#{orgId,jdbcType=BIGINT}, #{orgName,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR},
        #{orgCategory,jdbcType=VARCHAR}, #{orgParentId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT},
        #{useable,jdbcType=BIT}, #{remarks,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ems.entity.SysOrganization">
        insert into sys_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                org_id,
            </if>
            <if test="orgName != null">
                org_name,
            </if>
            <if test="orgCode != null">
                org_code,
            </if>
            <if test="orgCategory != null">
                org_category,
            </if>
            <if test="orgParentId != null">
                org_parent_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="useable != null">
                useable,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                #{orgId,jdbcType=BIGINT},
            </if>
            <if test="orgName != null">
                #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null">
                #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="orgCategory != null">
                #{orgCategory,jdbcType=VARCHAR},
            </if>
            <if test="orgParentId != null">
                #{orgParentId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="useable != null">
                #{useable,jdbcType=BIT},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>