<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ems.entity.mapper.SysPermissionMapper">
    <resultMap id="BaseResultMap" type="com.ems.entity.SysPermission">
        <constructor>
            <idArg column="perm_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="perm_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="perm_caption" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="perm_href" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="perm_parent_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="is_button" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="create_by" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_by" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="usable" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        perm_id, perm_name, perm_caption, perm_href, perm_parent_id, is_button, create_time, create_by, update_time, update_by,
        usable, remarks
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_permission
        where perm_id = #{permId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_permission
        where perm_id = #{permId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ems.entity.SysPermission" useGeneratedKeys="true" keyProperty="permId" >
     insert into sys_permission (perm_name, perm_caption,perm_href,
        perm_parent_id,is_button ,create_time, create_by,
        update_time, update_by,
        remarks)
        values (#{permName,jdbcType=VARCHAR}, #{permCaption,jdbcType=VARCHAR},#{permHref,jdbcType=VARCHAR},
        #{permParentId,jdbcType=INTEGER}, #{isButton,jdbcType=BIT}, NOW(), #{createBy,jdbcType=INTEGER}, NOW(),
        #{updateBy,jdbcType=INTEGER},#{remarks,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ems.entity.SysPermission">
        insert into sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permId != null">
                perm_id,
            </if>
            <if test="permName != null">
                perm_name,
            </if>
            <if test="permCaption != null">
                perm_caption,
            </if>
            <if test="permHref != null">
                perm_href,
            </if>
            <if test="permParentId != null">
                perm_parent_id,
            </if>
            <if test="isButton != null">
                is_button,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="usable != null">
                usable,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permId != null">
                #{permId,jdbcType=INTEGER},
            </if>
            <if test="permName != null">
                #{permName,jdbcType=VARCHAR},
            </if>
            <if test="permCaption != null">
                #{permCaption,jdbcType=VARCHAR},
            </if>
            <if test="permHref != null">
                #{permHref,jdbcType=VARCHAR},
            </if>
            <if test="permParentId != null">
                #{permParentId,jdbcType=INTEGER},
            </if>
            <if test="isButton != null">
                #{isButton,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="usable != null">
                #{usable,jdbcType=BIT},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ems.entity.SysPermission">
        update sys_permission
        <set>
            <if test="permName != null">
                perm_name = #{permName,jdbcType=VARCHAR},
            </if>
            <if test="permCaption != null">
                perm_caption = #{permCaption,jdbcType=VARCHAR},
            </if>
            <if test="permHref != null">
                perm_href = #{permHref,jdbcType=VARCHAR},
            </if>
            <if test="permParentId != null">
                perm_parent_id = #{permParentId,jdbcType=INTEGER},
            </if>
            <if test="isButton != null">
                is_button = #{isButton,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="usable != null">
                usable = #{usable,jdbcType=BIT},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where perm_id = #{permId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ems.entity.SysPermission">
        update sys_permission
        set perm_name = #{permName,jdbcType=VARCHAR},
        perm_caption = #{permCaption,jdbcType=VARCHAR},
        perm_href = #{permHref,jdbcType=VARCHAR},
        perm_parent_id = #{permParentId,jdbcType=INTEGER},
        is_button = #{isButton,jdbcType=BIT},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=INTEGER},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=INTEGER},
        usable = #{usable,jdbcType=BIT},
        remarks = #{remarks,jdbcType=VARCHAR}
        where perm_id = #{permId,jdbcType=INTEGER}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        sys_permission
        where usable = 1
    </select>
  <update id="deleteByPermId" parameterType="map">
        update sys_permission
        set
        update_time = NOW(),
        update_by = #{updateBy,jdbcType=INTEGER},
        usable = 0
        where perm_id in
        <foreach item="permId" index="index" collection="permIds" open="(" separator="," close=")">
            #{permId}
        </foreach>
    </update>
    <update id="deleteBatch" parameterType="list">
        update sys_permission
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="update_by = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.updateBy != null">
                        when perm_id = #{i.permId} then #{i.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.updateTime != null">
                        when perm_id = #{i.permId} then NOW()
                    </if>
                </foreach>
            </trim>
            <trim prefix="usable =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.usable != null">
                        when perm_id =#{i.permId} then 0
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="i" index="index">
            perm_id = #{i.permId}
        </foreach>
    </update>
    <select id="select" parameterType="map" resultType="com.ems.entity.SysPermission">
        SELECT
        spa.perm_id as permId,spa.perm_name as permName,spa.perm_caption as permCaption,
        spa.perm_parent_id as permParentId,spb.perm_caption AS permParentCaption,spa.is_button as isButton
        FROM
        sys_permission spa JOIN sys_permission spb ON spa.perm_parent_id = spb.perm_id
        WHERE spa.perm_parent_id IS NOT NULL and spa.usable = 1
        <if test="permCaption != null and permCaption != ''">
            AND spa.perm_caption LIKE CONCAT('%',#{permCaption,jdbcType=VARCHAR}, '%')
        </if>
        <if test="permName != null and permName != ''">
            AND spa.perm_name LIKE CONCAT('%', #{permName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="menuName != null and menuName != ''">
            AND spb.perm_caption LIKE CONCAT('%', #{menuName,jdbcType=VARCHAR}, '%')
        </if>
        ORDER BY spa.perm_id
    </select>
</mapper>