<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ems.entity.mapper.UserOrdersMapper">
    <resultMap id="BaseResultMap" type="com.ems.entity.UserOrders">
        <constructor>
            <idArg column="id" jdbcType="CHAR" javaType="java.lang.String"/>
            <arg column="order_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="employee_id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="order_payment" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="order_status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="order_create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="order_close_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="create_by" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_by" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="useable" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, order_id, user_id, employee_id, order_payment, order_status, order_create_time,
        order_close_time, create_time, create_by, update_time, update_by, useable, remarks
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user_orders
        where id = #{id,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from user_orders
        where id = #{id,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="com.ems.entity.UserOrders">
        insert into user_orders (id, order_id, user_id,
        employee_id, order_payment, order_status,
        order_create_time, order_close_time, create_time,
        create_by, update_time, update_by,
        useable, remarks)
        values (#{id,jdbcType=CHAR}, #{orderId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
        #{employeeId,jdbcType=BIGINT}, #{orderPayment,jdbcType=DECIMAL}, #{orderStatus,jdbcType=INTEGER},
        #{orderCreateTime,jdbcType=TIMESTAMP}, #{orderCloseTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT},
        #{useable,jdbcType=BIT}, #{remarks,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ems.entity.UserOrders">
        insert into user_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="employeeId != null">
                employee_id,
            </if>
            <if test="orderPayment != null">
                order_payment,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="orderCreateTime != null">
                order_create_time,
            </if>
            <if test="orderCloseTime != null">
                order_close_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="useable != null">
                useable,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="employeeId != null">
                #{employeeId,jdbcType=BIGINT},
            </if>
            <if test="orderPayment != null">
                #{orderPayment,jdbcType=DECIMAL},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=INTEGER},
            </if>
            <if test="orderCreateTime != null">
                #{orderCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderCloseTime != null">
                #{orderCloseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="useable != null">
                #{useable,jdbcType=BIT},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ems.entity.UserOrders">
        update user_orders
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="employeeId != null">
                employee_id = #{employeeId,jdbcType=BIGINT},
            </if>
            <if test="orderPayment != null">
                order_payment = #{orderPayment,jdbcType=DECIMAL},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=INTEGER},
            </if>
            <if test="orderCreateTime != null">
                order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderCloseTime != null">
                order_close_time = #{orderCloseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="useable != null">
                useable = #{useable,jdbcType=BIT},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ems.entity.UserOrders">
        update user_orders
        set order_id = #{orderId,jdbcType=BIGINT},
        user_id = #{userId,jdbcType=BIGINT},
        employee_id = #{employeeId,jdbcType=BIGINT},
        order_payment = #{orderPayment,jdbcType=DECIMAL},
        order_status = #{orderStatus,jdbcType=INTEGER},
        order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
        order_close_time = #{orderCloseTime,jdbcType=TIMESTAMP},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=BIGINT},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=BIGINT},
        useable = #{useable,jdbcType=BIT},
        remarks = #{remarks,jdbcType=VARCHAR}
        where id = #{id,jdbcType=CHAR}
    </update>
</mapper>