<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ems.entity.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ems.entity.User" >
    <constructor >
      <idArg column="id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_idcard" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_deed" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_dist_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="user_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="user_gas_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="user_meter_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="iccard_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="iccard_identifier" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="iccard_password" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="user_locked" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_by" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_by" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="useable" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, user_name, user_phone, user_idcard, user_deed, user_dist_id, user_address, 
    user_type, user_gas_type, user_meter_type, iccard_id, iccard_identifier, iccard_password, 
    user_locked, create_time, create_by, update_time, update_by, useable, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.ems.entity.User" >
    insert into user (id, user_id, user_name, 
      user_phone, user_idcard, user_deed, 
      user_dist_id, user_address, user_type, 
      user_gas_type, user_meter_type, iccard_id, 
      iccard_identifier, iccard_password, user_locked, 
      create_time, create_by, update_time, 
      update_by, useable, remarks
      )
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=VARCHAR}, #{userIdcard,jdbcType=VARCHAR}, #{userDeed,jdbcType=VARCHAR}, 
      #{userDistId,jdbcType=BIGINT}, #{userAddress,jdbcType=VARCHAR}, #{userType,jdbcType=TINYINT}, 
      #{userGasType,jdbcType=TINYINT}, #{userMeterType,jdbcType=TINYINT}, #{iccardId,jdbcType=BIGINT}, 
      #{iccardIdentifier,jdbcType=VARCHAR}, #{iccardPassword,jdbcType=CHAR}, #{userLocked,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT}, #{useable,jdbcType=BIT}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ems.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userIdcard != null" >
        user_idcard,
      </if>
      <if test="userDeed != null" >
        user_deed,
      </if>
      <if test="userDistId != null" >
        user_dist_id,
      </if>
      <if test="userAddress != null" >
        user_address,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userGasType != null" >
        user_gas_type,
      </if>
      <if test="userMeterType != null" >
        user_meter_type,
      </if>
      <if test="iccardId != null" >
        iccard_id,
      </if>
      <if test="iccardIdentifier != null" >
        iccard_identifier,
      </if>
      <if test="iccardPassword != null" >
        iccard_password,
      </if>
      <if test="userLocked != null" >
        user_locked,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="useable != null" >
        useable,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userIdcard != null" >
        #{userIdcard,jdbcType=VARCHAR},
      </if>
      <if test="userDeed != null" >
        #{userDeed,jdbcType=VARCHAR},
      </if>
      <if test="userDistId != null" >
        #{userDistId,jdbcType=BIGINT},
      </if>
      <if test="userAddress != null" >
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="userGasType != null" >
        #{userGasType,jdbcType=TINYINT},
      </if>
      <if test="userMeterType != null" >
        #{userMeterType,jdbcType=TINYINT},
      </if>
      <if test="iccardId != null" >
        #{iccardId,jdbcType=BIGINT},
      </if>
      <if test="iccardIdentifier != null" >
        #{iccardIdentifier,jdbcType=VARCHAR},
      </if>
      <if test="iccardPassword != null" >
        #{iccardPassword,jdbcType=CHAR},
      </if>
      <if test="userLocked != null" >
        #{userLocked,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="useable != null" >
        #{useable,jdbcType=BIT},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ems.entity.User" >
    update user
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userIdcard != null" >
        user_idcard = #{userIdcard,jdbcType=VARCHAR},
      </if>
      <if test="userDeed != null" >
        user_deed = #{userDeed,jdbcType=VARCHAR},
      </if>
      <if test="userDistId != null" >
        user_dist_id = #{userDistId,jdbcType=BIGINT},
      </if>
      <if test="userAddress != null" >
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=TINYINT},
      </if>
      <if test="userGasType != null" >
        user_gas_type = #{userGasType,jdbcType=TINYINT},
      </if>
      <if test="userMeterType != null" >
        user_meter_type = #{userMeterType,jdbcType=TINYINT},
      </if>
      <if test="iccardId != null" >
        iccard_id = #{iccardId,jdbcType=BIGINT},
      </if>
      <if test="iccardIdentifier != null" >
        iccard_identifier = #{iccardIdentifier,jdbcType=VARCHAR},
      </if>
      <if test="iccardPassword != null" >
        iccard_password = #{iccardPassword,jdbcType=CHAR},
      </if>
      <if test="userLocked != null" >
        user_locked = #{userLocked,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="useable != null" >
        useable = #{useable,jdbcType=BIT},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ems.entity.User" >
    update user
    set user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_idcard = #{userIdcard,jdbcType=VARCHAR},
      user_deed = #{userDeed,jdbcType=VARCHAR},
      user_dist_id = #{userDistId,jdbcType=BIGINT},
      user_address = #{userAddress,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=TINYINT},
      user_gas_type = #{userGasType,jdbcType=TINYINT},
      user_meter_type = #{userMeterType,jdbcType=TINYINT},
      iccard_id = #{iccardId,jdbcType=BIGINT},
      iccard_identifier = #{iccardIdentifier,jdbcType=VARCHAR},
      iccard_password = #{iccardPassword,jdbcType=CHAR},
      user_locked = #{userLocked,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      useable = #{useable,jdbcType=BIT},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>