/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-8-1, 11:50:57
    Author     : Administrator
*/
body {
    font-family: "Microsoft Yahei", "sans-serif" !important;
}
.repaint-toast{
    position: fixed;
    margin: auto;
    width: 20vw;
    height: 6vh;
    /*line-height: 6vh;*/
    left: 20vw;
    right: 15vw;
    top: 60vh!important;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.3vw;
}
.ly-blue {
    background-color: #007cc2;
}
.ly-sci-blue {
    background-color: #015198;
}

.tabs-content.carousel.carousel-slider {
    height: 100%;
}
.mdui-container.doc-container.doc-no-cover {
    position: fixed;
    top: 64px;
    bottom: 0;
    padding: 30px;
}
.mdui-table-fluid {
    box-shadow: none !important;
}
.mdui-table thead th {
    font-size: 15px;
    color: #2196f3;
    max-width: 200px;
}

.mdui-table thead td {
    max-width: 200px;
}

.mdui-table.mdui-table-selectable.mdui-table-hoverable td, .mdui-table.mdui-table-selectable.mdui-table-hoverable th {
    padding: 0;
    vertical-align: middle;
}

.mdui-table-cell-checkbox .mdui-checkbox {
    margin-top: 0 !important;
}

.mdui-table-cell-checkbox {
    width: 36px;
}

.icon-style{

    font-family: 宋体;
    font-size: 16px;
}
.iconfloat{
    float: left
}
.inputHeight{

    height: 24px !important;
    padding: 0;
}
.captionClass{

    float: left !important;
    margin: 0px;
    width: 50%;
    line-height: 50px
}

.mdui-toolbar .mdui-textfield {
    margin: 0 4px;
    padding: 0;
    line-height: 0px;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
}

.mdui-toolbar .mdui-textfield span {
    display: inline-block;
}

.mdui-toolbar .mdui-textfield input {
    margin: 0 4px;
    border-bottom: 1px solid #2196f3;
    height: 2rem;
    width: 50px;
}

.mdui-select {
    max-width: 170px !important;
}
.mdui-select:focus {
    outline: none;
}

.tree-combobox {
    max-width: 170px;
    display: inline-block;
    cursor: pointer;
}

.tree-combobox input {
    width: 120px !important;
    margin: 0;
    cursor: pointer;
}

.tree-combobox-panel {
    width: auto;
    display: inline-block;
    max-height: 200px;
    overflow: auto;
    background-color: white;
    z-index: 10000;
}