<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdmh.entity.mapper.OrderMapper">
    <select id="searchOrderAndInvoiceList" parameterType="map" resultType="com.tdmh.param.OrderParam">
        SELECT
        uo.order_id AS orderId,
        uo.order_type AS orderType,
        uo.order_status AS orderStatus,
        uo.user_id AS userId,
        u.user_name AS userName,
        uc.card_id AS iccardId,
        uc.card_password AS iccardPassword,
        uc.card_identifier AS iccardIdentifier,
        u.service_times AS serviceTimes,
        uo.order_gas AS orderGas,
        uo.order_payment AS orderPayment,
        uo.flow_number AS flowNumber,
        uo.order_detail AS orderDetail,
        uo.coupon_gas AS couponGas,
        uo.coupon_number AS couponNumber,
        e.emp_name AS orderCreateEmpName,
        uo.create_time AS orderCreateTime,
        sd.dict_key AS invoiceStatusName,
        uo.free_gas AS freeGas,
        i.invoice_code AS invoiceCode,
        i.invoice_number AS invoiceNumber,
        e1.emp_name AS invoicePrintEmpName,
        i.invoice_print_time AS invoicePrintTime,
        e2.emp_name AS invoiceCancelEmpName,
        i.invoice_cancel_time AS invoiceCancelTime
        FROM
        user_orders uo
        LEFT JOIN `user` u ON uo.user_id = u.user_id
        LEFT JOIN user_card uc ON u.user_id = uc.user_id
        AND uc.usable = 1
        LEFT JOIN (
        SELECT
        invoice_id,
        invoice_code,
        invoice_number,
        invoice_status,
        order_id,
        invoice_print_emp,
        invoice_print_time,
        invoice_cancel_emp,
        invoice_cancel_time
        FROM
        invoice temp
        RIGHT JOIN ( SELECT MAX( invoice_id ) AS invoice_id2 FROM invoice WHERE order_id IS NOT NULL GROUP BY order_id ) temp2 ON temp.invoice_id = temp2.invoice_id2
        ) i ON uo.order_id = i.order_id
        LEFT JOIN employee e ON uo.create_by = e.emp_id
        LEFT JOIN sys_dictionary sd ON i.invoice_status = sd.dict_value
        AND sd.dict_category = 'invoice_status'
        LEFT JOIN employee e1 ON i.invoice_print_emp = e1.emp_id
        LEFT JOIN employee e2 ON i.invoice_cancel_emp = e2.emp_id
        WHERE
        uo.usable = 1 and <![CDATA[ uo.order_status <> 4 ]]>
        <if test="userName!=null and userName!=''">
            and u.user_name like CONCAT('%', #{userName}, '%')
        </if>
        <if test="iccardId!=null and iccardId!=''">
            and uc.card_id like CONCAT('%', #{iccardId}, '%')
        </if>
        <if test="iccardIdentifier!=null and iccardIdentifier!=''">
            and uc.card_identifier like CONCAT('%', #{iccardIdentifier}, '%')
        </if>
        <if test="invoiceCode!=null and invoiceCode!=''">
            and i.invoice_code like CONCAT('%', #{invoiceCode}, '%')
        </if>
        <if test="invoiceNumber!=null and invoiceNumber!=''">
            and i.invoice_number like CONCAT('%', #{invoiceNumber}, '%')
        </if>
        <if test="startDate!=null and startDate!=''">
            AND DATE_FORMAT(uo.create_time,'%Y-%m-%d') &gt;= #{startDate}
        </if>
        <if test="endDate!=null and endDate!=''">
            AND DATE_FORMAT(uo.create_time,'%Y-%m-%d') &lt;= #{endDate}
        </if>
        order by uo.create_time DESC
    </select>
    <select id="findOrderById" parameterType="int" resultType="com.tdmh.param.InvoiceParam">
        select u.user_name as userName , uo.order_gas as orderGas, uo.order_payment as orderPayment
        from user_orders uo join user u on uo.user_id = u.user_id
        where uo.order_id = #{orderId}
    </select>
    <update id="updateOrderStatus" parameterType="map">
        update user_orders set order_status = #{orderStatus} where order_id = #{orderId}
    </update>
    <select id="hasAuthorityToInvoice" parameterType="map" resultType="int">
         SELECT count(order_id) FROM user_orders
         WHERE order_id = #{orderId} AND create_time = (SELECT create_time
         FROM user_orders WHERE  user_id = #{userId}
         ORDER BY create_time DESC LIMIT 1)
    </select>
    <select id="selectReportBusinessDataQuery" resultType="com.tdmh.param.OrderParam">
        SELECT
        MAX(DATE_FORMAT(orders.create_time ,'%Y-%m-%d')) AS createTime,
        SUM(
        CASE
        WHEN orders.user_id IS NOT NULL
        THEN 1
        ELSE 0
        END
        ) AS icCard,
        SUM(orders.order_gas) AS orderGas,
        SUM(orders.order_payment) AS orderPayment,
        any_value(e.`emp_name`) AS empName
        FROM
        user_orders orders
        LEFT JOIN employee e
        ON orders.employee_id = e.emp_id
        LEFT JOIN sys_organization org
        ON e.emp_org_id = org.org_id
        WHERE orders.usable = 1
        AND (account_state NOT IN(1,3) OR account_state IS NULL)
        <if test="userId != null" >
            AND orders.user_id = #{userId}
        </if>
        <if test="empOrgId != null" >
            AND org.org_id= #{empOrgId}
        </if>
        <if test="empName!=null and empName!=''">
            AND LOCATE (#{empName} ,e.`emp_name`) > 0
        </if>
        <if test="startDate!=null and startDate!=''">
            AND DATE_FORMAT(orders.create_time,'%Y-%m-%d') &gt;= #{startDate}
        </if>
        <if test="endDate!=null and endDate!=''">
            AND DATE_FORMAT(orders.create_time,'%Y-%m-%d') &lt;= #{endDate}
        </if>
        GROUP BY
        DATE_FORMAT(orders.create_time ,'%Y-%m-%d')
        ORDER BY DATE_FORMAT(orders.create_time ,'%Y-%m-%d') DESC
    </select>
    <select id="checkNewInvoicePrint" resultType="int" parameterType="int">
        SELECT
        count(1)
        from invoice where order_id = #{orderId}
    </select>
</mapper>