<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdmh.entity.mapper.StrikeNucleusMapper">
    <resultMap id="BaseResultMap" type="com.tdmh.entity.StrikeNucleus">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="user_name" property="userName"/>
        <result column="nucleus_status" property="nucleusStatus"/>
        <result column="nucleus_opinion" property="nucleusOpinion"/>
        <result column="nucleus_gas" property="nucleusGas"/>
        <result column="nucleus_payment" property="nucleusPayment"/>
        <result column="nucleus_launching_person" property="nucleusLaunchingPerson"/>
        <result column="recharge_time" property="rechargeTime"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>

    </resultMap>
    <sql id="Base_Column_List">
      id,order_id,user_name,nucleus_status,nucleus_opinion,nucleus_gas,nucleus_payment,
      nucleus_launching_person,recharge_time,create_time,create_by,update_time,update_by,
      usable,remarks
    </sql>
    <insert id="insertStrikeNucleus" parameterType="com.tdmh.entity.StrikeNucleus" >
        INSERT INTO strike_nucleus (
          id,
          order_id,
          user_name,
          nucleus_status,
          nucleus_opinion,
          nucleus_gas,
          nucleus_payment,
          nucleus_launching_person,
          recharge_time,
          create_time,
          create_by,
          update_time,
          update_by,
          usable,
          remarks
    )
    VALUES (
        #{id},
        #{orderId},
        #{userName},
        #{nucleusStatus},
        #{nucleusOpinion},
        #{nucleusGas},
        #{nucleusPayment},
        #{nucleusLaunchingPerson},
        #{rechargeTime} ,
        NOW(),
        #{createBy,jdbcType=INTEGER},
        NOW(),
        #{updateBy,jdbcType=INTEGER},
        #{usable},
        #{remarks}
      )
  </insert>
    <select id="selectStrikeNucleusList" resultMap="BaseResultMap" parameterType="com.tdmh.entity.StrikeNucleus">

      SELECT
        <include refid="Base_Column_List" />
      FROM
        strike_nucleus
    WHERE
        usable=1 AND nucleus_status  is null
        <if test="orderId != null and orderId != ''">
            and    order_id = #{orderId}
        </if>
        <if test="userName != null and userName != ''">

            AND LOCATE (#{userName} ,user_name) > 0
        </if>
    </select>
    <update id="updateStrikeNucleusById" parameterType="com.tdmh.entity.StrikeNucleus">
        UPDATE
             strike_nucleus
        SET
             nucleus_status=#{nucleusStatus}
        <if test="nucleusOpinion != null" >
            ,nucleus_opinion=#{nucleusOpinion}
        </if>
        WHERE
            id=#{id}

    </update>
    <select id="selectStrikeNucleusByUserId" resultType="com.tdmh.entity.StrikeNucleus">
        SELECT
          nucleus.id AS id,
          nucleus.order_id AS orderId,
          nucleus.user_name AS userName,
          nucleus.nucleus_status AS nucleusStatus,
          nucleus.nucleus_opinion AS nucleusOpinion,
          nucleus.nucleus_launching_person AS nucleusLaunchingPerson,
          nucleus.create_time AS createTime,
          sys.dict_key AS nucleusStatusName
        FROM
        strike_nucleus nucleus
          LEFT JOIN
          user_orders orders
            ON   nucleus.order_id  = orders.order_id
            LEFT JOIN
            sys_dictionary sys
            ON
          nucleus.nucleus_status=sys.dict_value
          AND sys.dict_category = 'nucleus_status'
          WHERE sys.usable =1 AND nucleus.usable = 1 AND orders.usable=1
          AND orders.user_id=#{userId}
    </select>
</mapper>