<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdmh.entity.mapper.SysOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.tdmh.entity.SysOrganization" >
    <constructor >
      <idArg column="org_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="org_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="org_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="org_category" jdbcType="VARCHAR" javaType="java.lang.Integer" />
      <arg column="org_parent_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="usable" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
     org_id, org_name, org_code, org_category, org_parent_id,
     create_time, create_by, update_time, update_by, usable, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_organization
    where org_id = #{orgId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_organization
    where org_id = #{orgId} and usable ="1"
  </delete>
  <insert id="insert" parameterType="com.tdmh.entity.SysOrganization" >
    insert into sys_organization ( org_id, org_name,
      org_code, org_category,
      org_parent_id,
      create_time, create_by, update_time,
      update_by, usable, remarks
      )
    values ( #{orgId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR},
      #{orgCode,jdbcType=VARCHAR}, #{orgCategory,jdbcType=INTEGER},
      #{orgParentId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=INTEGER}, #{usable,jdbcType=BIT}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tdmh.entity.SysOrganization" >
    insert into sys_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="orgCategory != null" >
        org_category,
      </if>
      <if test="orgParentId != null" >
        org_parent_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="usable != null" >
        usable,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCategory != null" >
        #{orgCategory,jdbcType=INTEGER},
      </if>
      <if test="orgParentId != null" >
        #{orgParentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="usable != null" >
        #{usable,jdbcType=BIT},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdmh.entity.SysOrganization" >
    update sys_organization
    <set >
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgCategory != null" >
        org_category = #{orgCategory,jdbcType=INTEGER},
      </if>
      <if test="orgParentId != null" >
        org_parent_id = #{orgParentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="usable != null" >
        usable = #{usable,jdbcType=BIT},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdmh.entity.SysOrganization" >
    update sys_organization
    set org_name = #{orgName,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_category = #{orgCategory,jdbcType=INTEGER},
      org_parent_id = #{orgParentId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      usable = #{usable,jdbcType=BIT},
      remarks = #{remarks,jdbcType=VARCHAR}
    where org_id = #{orgId}
  </update>
 <!-- 查询所有数据List -->
  <select id="findList" resultType="com.tdmh.entity.SysOrganization" >
     select
     org.org_id as orgId , org.org_name as orgName, org.org_code as orgCode, sd.dict_value AS orgCategory,sd.dict_key AS orgCategoryName , org.org_parent_id as orgParentId,(
  SELECT org_name FROM sys_organization WHERE org_id = org.org_parent_id) AS orgParentName,org.create_time as createTime, org.create_by as createBy,
   org.update_time as updateTime, org.update_by as updateBy, org.usable as usable, org.remarks as remarks
      from sys_organization org
  LEFT JOIN sys_dictionary sd ON org.org_category = sd.dict_value
      where org.usable =1 AND sd.dict_category='org_type'
  </select>
  <!-- 查看表中是否存在一条数据 -->
  <select id="findListByCount" resultType="java.lang.Integer">
     SELECT COUNT(0) FROM sys_organization  WHERE usable =1
  </select>
  <!-- 根据机构名称获取对应相关信息 -->
  <select id="findByOrgName" resultMap="BaseResultMap" parameterType="java.lang.Integer">

    SELECT
    <include refid="Base_Column_List" />
    FROM sys_organization WHERE org_id = #{OrgParentId} and usable=1
  </select>
  <!-- 获取机构最大id -->
  <select id="maxOrganization" resultType="java.lang.Integer">

    SELECT MAX(org_id) FROM sys_organization
  </select>
  <!-- 根据id查看是否存在一条记录 -->
  <select id="findIdByCount" resultType="java.lang.Integer" parameterType="java.lang.Integer">

    SELECT COUNT(0) FROM sys_organization  WHERE usable =1 AND org_id=#{orgId}
  </select>
  <!-- 删除时查看是否存在子集 -->
  <select id="selectOrganizationByid" resultType="java.lang.Integer" parameterType="com.tdmh.entity.SysOrganization">

     SELECT
          COUNT(0)
      FROM
    sys_organization
    WHERE usable =1
    <if test="ids != null ">
       AND org_parent_id in
    <foreach item="orgId" collection="ids" open="(" separator="," close=")">
       #{orgId}
    </foreach>
  </if>
  </select>
  <!-- 删除数据此处只需要修改删除标记即可 -->
  <update id="deleteOrganization" parameterType="com.tdmh.entity.SysOrganization">

    UPDATE
       sys_organization
    SET
       usable=0
    WHERE
        1=1
    <if test="ids != null ">
      AND org_id in
    <foreach item="orgId" collection="ids" open="(" separator="," close=")">
      #{orgId}
    </foreach>
  </if>
  </update>
  <!-- 根据条件查询所有数据List -->
  <select id="findListOrganization" resultType="com.tdmh.entity.SysOrganization" parameterType="com.tdmh.entity.SysOrganization" >
    select
    org.org_id as orgId , org.org_name as orgName, org.org_code as orgCode,  sd.dict_value AS orgCategory,sd.dict_key AS orgCategoryName , org.org_parent_id as orgParentId,(
    SELECT org_name FROM sys_organization WHERE org_id = org.org_parent_id) AS orgParentName,org.create_time as createTime, org.create_by as createBy,
    org.update_time as updateTime, org.update_by as updateBy, org.usable as usable, org.remarks as remarks
    from sys_organization org
    LEFT JOIN sys_dictionary sd ON org.org_category = sd.dict_value
    where org.usable =1 AND sd.dict_category='org_type'
      <if test="orgName != null and orgName != ''" >
          AND locate (#{orgName} ,org_name) > 0
      </if>
      <if test="orgCode != null and orgCode!=''" >
          AND locate (#{orgCode} ,org_code) > 0
      </if>
  </select>
  <select id="selectCountByorgName" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT COUNT(0) FROM sys_organization WHERE usable=1 AND org_name=#{orgName}
  </select>
</mapper>