<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdmh.entity.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.tdmh.entity.SysRole">
        <constructor>
            <idArg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="role_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="role_dists" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="role_orgs" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="is_admin" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="create_by" jdbcType="BIGINT" javaType="java.lang.Integer"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_by" jdbcType="BIGINT" javaType="java.lang.Integer"/>
            <arg column="usable" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="RoleResultMap" type="com.tdmh.entity.SysRole">
        <id column="role_id" jdbcType="INTEGER" property="roleId" javaType="java.lang.Integer"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName" javaType="java.lang.String"/>
        <result column="role_dists" jdbcType="VARCHAR" property="roleDists" javaType="java.lang.String"/>
        <result column="role_orgs" jdbcType="VARCHAR" property="roleOrgs" javaType="java.lang.String"/>
        <result column="is_admin" jdbcType="BIT" property="isAdmin" javaType="java.lang.Boolean"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" javaType="java.util.Date"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks" javaType="java.lang.String"/>
        <collection property="permissions" ofType="com.tdmh.entity.SysPermission">
            <id  column="perm_id" jdbcType="INTEGER" property="permId" javaType="java.lang.Integer"/>
            <result column="perm_name" jdbcType="VARCHAR" property="permName" javaType="java.lang.String"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        role_id, role_name, role_dists, role_orgs, is_admin, create_time, create_by, update_time, update_by,
        usable, remarks
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where role_id = #{roleId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_role
        where role_id = #{roleId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.tdmh.entity.SysRole">
        insert into sys_role (role_name, role_dists,
        role_orgs, is_admin, create_time, create_by,
        update_time, update_by, usable,
        remarks)
        values (#{roleName,jdbcType=VARCHAR}, #{roleDists,jdbcType=VARCHAR},
        #{roleOrgs,jdbcType=VARCHAR}, #{isAdmin,jdbcType=BIT}, NOW(), #{createBy,jdbcType=INTEGER},
        NOW(), #{updateBy,jdbcType=INTEGER}, #{usable,jdbcType=BIT},
        #{remarks,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.tdmh.entity.SysRole">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="roleDists != null">
                role_dists,
            </if>
            <if test="roleOrgs != null">
                role_orgs,
            </if>
            <if test="isAdmin != null">
                is_admin,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="usable != null">
                usable,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleDists != null">
                #{roleDists,jdbcType=VARCHAR},
            </if>
            <if test="roleOrgs != null">
                #{roleOrgs,jdbcType=VARCHAR},
            </if>
            <if test="isAdmin != null">
                #{isAdmin,jdbcType=BIT},
            </if>
            <if test="createTime != null">
                NOW(),
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                NOW(),
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="usable != null">
                #{usable,jdbcType=BIT},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tdmh.entity.SysRole">
        update sys_role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleDists != null">
                role_dists = #{roleDists,jdbcType=VARCHAR},
            </if>
            <if test="roleOrgs != null">
                role_orgs = #{roleOrgs,jdbcType=VARCHAR},
            </if>
            <if test="isAdmin != null">
                is_admin = #{isAdmin,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = NOW(),
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="usable != null">
                usable = #{usable,jdbcType=BIT},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where role_id = #{roleId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tdmh.entity.SysRole">
        update sys_role
        set role_name = #{roleName,jdbcType=VARCHAR},
        role_dists = #{roleDists,jdbcType=VARCHAR},
        role_orgs = #{roleOrgs,jdbcType=VARCHAR},
        is_admin = #{isAdmin,jdbcType=BIT},
        update_time = NOW(),
        update_by = #{updateBy,jdbcType=INTEGER},
        remarks = #{remarks,jdbcType=VARCHAR}
        where role_id = #{roleId,jdbcType=INTEGER}
    </update>
    <select id="checkRoleNameExist" parameterType="string" resultType="int">
        SELECT
        COUNT (1)
        FROM
        sys_role
        WHERE usable = 1 AND role_name = #{roleName,jdbcType=VARCHAR}
    </select>
    <select id="getRoleIdByName" parameterType="string" resultType="int">
        SELECT role_id FROM sys_role WHERE role_name = #{roleName,jdbcType=VARCHAR} AND usable = 1
    </select>
    <select id="getRoleByName" parameterType="string" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_role
        WHERE usable = 1 AND role_name = #{roleName,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="RoleResultMap">
        SELECT sr.role_id,sr.role_name,sr.role_dists,sr.role_orgs,sr.is_admin ,sr.create_time,sr.remarks,sp.perm_id,sp.perm_name
        FROM sys_role sr left JOIN sys_role_perm srp ON sr.role_id=srp.role_id
        left JOIN sys_permission sp on srp.perm_id=sp.perm_id WHERE sr.usable=1
    </select>
    <update id="deleteRoleById" parameterType="map">
        UPDATE sys_role
        SET
        update_time = NOW(),
        update_by = #{updateBy,jdbcType=INTEGER},
        usable = 0
        WHERE role_id = #{roleId,jdbcType=INTEGER}
    </update>

    <update id="deleteBatch" parameterType="list">
        update sys_role
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="update_by = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.updateBy != null">
                        when role_id = #{i.roleId} then #{i.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.updateTime != null">
                        when role_id = #{i.roleId} then NOW()
                    </if>
                </foreach>
            </trim>
            <trim prefix="usable =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.usable != null">
                        when role_id =#{i.roleId} then 0
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="i" index="index">
            role_id = #{i.roleId}
        </foreach>
    </update>
</mapper>