<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdmh.entity.mapper.SysRolePermMapper">
    <resultMap id="BaseResultMap" type="com.tdmh.entity.SysRolePerm">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="perm_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="create_by" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_by" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="usable" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, role_id, perm_id, create_time, create_by, update_time, update_by, usable, remarks
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_role_perm
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_role_perm
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.tdmh.entity.SysRolePerm">
        insert into sys_role_perm (id, role_id, perm_id,
        create_time, create_by, update_time,
        update_by, usable, remarks
        )
        values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{permId,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
        #{updateBy,jdbcType=INTEGER}, #{usable,jdbcType=BIT}, #{remarks,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.tdmh.entity.SysRolePerm">
        insert into sys_role_perm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="permId != null">
                perm_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="usable != null">
                usable,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=INTEGER},
            </if>
            <if test="permId != null">
                #{permId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="usable != null">
                #{usable,jdbcType=BIT},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tdmh.entity.SysRolePerm">
        update sys_role_perm
        <set>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=INTEGER},
            </if>
            <if test="permId != null">
                perm_id = #{permId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="usable != null">
                usable = #{usable,jdbcType=BIT},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tdmh.entity.SysRolePerm">
        update sys_role_perm
        set role_id = #{roleId,jdbcType=INTEGER},
        perm_id = #{permId,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=INTEGER},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_by = #{updateBy,jdbcType=INTEGER},
        usable = #{usable,jdbcType=BIT},
        remarks = #{remarks,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteByRoleId" parameterType="list">
        DELETE FROM sys_role_perm
        WHERE role_id 
        <foreach collection="roleIds" item="roleId" open="in (" close=")" separator=",">
            #{roleId,jdbcType=INTEGER}
        </foreach>
    </delete>
    <insert id="batchInsert" parameterType="list">
        INSERT INTO
        sys_role_perm (role_id, perm_id, create_time, create_by, update_time, update_by)
        VALUES
        <foreach collection="rolePermList" item="rolePerm" separator=",">
            (#{rolePerm.roleId,jdbcType=INTEGER}, #{rolePerm.permId,jdbcType=INTEGER}, NOW(), #{rolePerm.createBy,jdbcType=INTEGER}, NOW(),
            #{rolePerm.updateBy,jdbcType=INTEGER})
        </foreach>
    </insert>
    <select id="selectByPermissionId"  parameterType="list" resultType="com.tdmh.entity.SysRolePerm">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role_perm
        WHERE perm_id IN
        <foreach collection="permIds" item="permId" open="(" close=")" separator=",">
            #{permId}
        </foreach>

    </select>
</mapper>