<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdmh.entity.mapper.UserCardMapper">
<insert id="insert">
 insert into user_card (user_id, card_id,card_identifier,card_password,card_initialization, create_time, create_by,update_time,update_by ,usable)
       values (#{userId,jdbcType=INTEGER},#{cardId,jdbcType=INTEGER},#{cardIdentifier,jdbcType=VARCHAR},#{cardPassword,jdbcType=VARCHAR},#{cardInitialization,jdbcType=BIT},NOW(),#{createBy,jdbcType=INTEGER},NOW(),
        #{updateBy,jdbcType=INTEGER},#{usable,jdbcType=BIT})
</insert>
<select id="countUserCardBycardId" parameterType="Integer" resultType="Integer">
SELECT COUNT(0) FROM user_card  WHERE usable=1 AND card_id=#{cardId}

</select>
<update id="initCardPwdBycardId" parameterType="com.tdmh.entity.mapper.UserCardMapper">
  UPDATE  user_card SET card_initialization=#{cardInitialization} WHERE usable=1 AND  card_id=#{cardId}

</update>
<select id="userCardPwdBycardId" parameterType="Integer" resultType="String">
SELECT card_password FROM user_card  WHERE usable=1 AND card_id=#{cardId}

</select>
    <select id="getUserCardByUserIdAndCardId" parameterType="map" resultType="com.tdmh.entity.UserCard">
        select user_card_id AS userCardId, user_id as userId, card_id as cardId ,card_identifier as cardIdentifier,card_password as cardPassword,
        create_time as  createTime, create_by as createBy,update_time as updateTime,update_by as updateBy ,usable from  user_card
        where usable=1
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="iccardId != null and iccardId != ''">
                and card_id = #{iccardId}
            </if>
    </select>
    <update id="update">
          update user_card set
          user_id = #{userId},
          card_id = #{cardId},
          card_identifier = #{cardIdentifier},
          card_password = #{cardPassword},
          update_time = NOW(),
          update_by = #{updateBy},
          usable = #{usable}
          where user_card_id = #{userCardId}
    </update>
    <select id="getAllSupList" parameterType="Integer" resultType="com.tdmh.entity.UserCard">
        select uc.user_id as userId, uc.card_id as cardId,uc.card_identifier as cardIdentifier,uc.create_time as createTime from user_card uc
        where uc.user_id = #{userId} ORDER BY uc.create_time DESC,uc.user_card_id DESC
    </select>
</mapper>