<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdmh.entity.mapper.UserOrdersMapper" >
  <resultMap id="BaseResultMap" type="com.tdmh.entity.UserOrders" >
    <constructor >
      <idArg column="order_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="user_idcard" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="user_address" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="emp_name" jdbcType="VARCHAR" javaType="java.lang.String"/>

      <arg column="service_times" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="employee_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_payment" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="order_gas" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="order_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="order_close_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="flow_number" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="order_type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="usable" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, user_id, employee_id, order_payment, order_gas, order_status, order_create_time, order_close_time, flow_number, order_type,
    create_time, create_by, update_time, update_by, usable, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_orders
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_orders
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tdmh.entity.UserOrders" >
<selectKey keyProperty="orderId" order="AFTER" resultType="int">
    SELECT LAST_INSERT_ID()
</selectKey>
    insert into user_orders (user_id, employee_id,
      order_payment, order_gas, order_status, order_create_time,
      order_close_time,flow_number, order_type, create_time, create_by,
      update_time, update_by, usable, 
      remarks)
    values (#{userId,jdbcType=INTEGER}, #{employeeId,jdbcType=INTEGER}, #{orderPayment,jdbcType=DECIMAL},
      #{orderGas,jdbcType=DECIMAL}, #{orderStatus,jdbcType=INTEGER}, #{orderCreateTime,jdbcType=TIMESTAMP},
      #{orderCloseTime,jdbcType=TIMESTAMP}, #{flowNumber,jdbcType=VARCHAR}, #{orderType,jdbcType=INTEGER}, NOW(), #{createBy,jdbcType=INTEGER},
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{usable,jdbcType=BIT}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tdmh.entity.UserOrders" >
    insert into user_orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="orderPayment != null" >
        order_payment,
      </if>
      <if test="orderGas != null" >
        order_gas,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderCreateTime != null" >
        order_create_time,
      </if>
      <if test="orderCloseTime != null" >
        order_close_time,
      </if>
      <if test="flowNumber != null" >
        flow_number,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="usable != null" >
        usable,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="orderPayment != null" >
        #{orderPayment,jdbcType=DECIMAL},
      </if>
      <if test="orderGas != null" >
        #{order_gas,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderCreateTime != null" >
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCloseTime != null" >
        #{orderCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flowNumber != null" >
        #{flowNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="usable != null" >
        #{usable,jdbcType=BIT},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdmh.entity.UserOrders" >
    update user_orders
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="orderPayment != null" >
        order_payment = #{orderPayment,jdbcType=DECIMAL},
      </if>
      <if test="orderGas != null" >
        order_gas = #{orderGas,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderCreateTime != null" >
        order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderCloseTime != null" >
        order_close_time = #{orderCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flowNumber != null" >
        flow_number = #{flowNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="usable != null" >
        usable = #{usable,jdbcType=BIT},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdmh.entity.UserOrders" >
    update user_orders
    set user_id = #{userId,jdbcType=INTEGER},
      employee_id = #{employeeId,jdbcType=INTEGER},
      order_payment = #{orderPayment,jdbcType=DECIMAL},
      order_gas = #{orderGas,jdbcType=DECIMAL},
      order_status = #{orderStatus,jdbcType=INTEGER},
      order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      order_close_time = #{orderCloseTime,jdbcType=TIMESTAMP},
      flow_number = #{flowNumber,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      usable = #{usable,jdbcType=BIT},
      remarks = #{remarks,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <insert id="createFirstOrder" parameterType="com.tdmh.entity.UserOrders" >
    insert into user_orders (user_id, employee_id,
      order_payment,order_gas, order_status, order_create_time,
      order_close_time, flow_number,order_type, create_time, create_by,
      update_time, update_by, remarks)
    values (#{userId,jdbcType=INTEGER}, #{employeeId,jdbcType=INTEGER},
      #{orderPayment,jdbcType=DECIMAL},#{orderGas,jdbcType=DECIMAL}, #{orderStatus,jdbcType=INTEGER}, NOW(),
      #{orderCloseTime,jdbcType=TIMESTAMP},#{flowNumber,jdbcType=VARCHAR},#{orderType,jdbcType=INTEGER}, NOW(), #{createBy,jdbcType=INTEGER},
      NOW(), #{updateBy,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <select id="findHasUsedGasInYear" resultType="decimal">
        SELECT SUM(order_gas) FROM user_orders WHERE user_id = #{userId} AND create_time > MAKEDATE(YEAR(NOW()), 1);
  </select>
  <insert id="createChangeUserOrder" parameterType="com.tdmh.entity.UserOrders" >
    insert into user_orders (user_id,employee_id,order_payment,
                 order_gas,order_type,create_time,create_by,
                 update_time,update_by,usable,order_supplement,remarks)
    values (#{userId,jdbcType=INTEGER}, #{employeeId,jdbcType=INTEGER},#{orderPayment,jdbcType=DECIMAL},#{orderGas,jdbcType=DECIMAL},
             #{orderType},NOW(),#{createBy,jdbcType=INTEGER},NOW(),#{updateBy,jdbcType=INTEGER},#{usable},#{orderSupplement},#{remarks}
      )
  </insert>
  <select id="countUserOrdersByTimeEmployeeId" resultType="java.lang.Integer" parameterType="com.tdmh.entity.UserOrders">
       SELECT   COUNT(order_id)  FROM  user_orders  WHERE order_id = #{orderId}  AND create_time =
        (SELECT  create_time    FROM    user_orders         WHERE employee_id = #{employeeId}   AND
          DATE_FORMAT(create_time,'%Y-%m-%d')= #{resltTime}    ORDER BY create_time DESC     LIMIT 1)
  </select>
  <update id="updateUserOrdersByOrderId" parameterType="com.tdmh.entity.UserOrders">
    UPDATE  user_orders SET account_state=#{accountState}  WHERE order_id=#{orderId}

  </update>

  <select id="selectBusinessDataQuery" resultType="com.tdmh.entity.UserOrders" parameterType="com.tdmh.entity.UserOrders">
      SELECT
        orders.order_id as orderId,
        u.user_name as userName,
        u.user_phone as userPhone,
        u.user_idcard as userIdcard,
        sd4.dict_key AS accountStateName,
        u.user_address as userAddress,
        e.emp_name as empName,
        u.service_times as serviceTimes,
        orders.order_payment as orderPayment,
        orders.order_gas as orderGas,
        orders.create_time as rechargeTime

      FROM
        user_orders orders
          LEFT JOIN `user` u
          ON orders.user_id = u.user_id
          LEFT JOIN employee e
          ON orders.employee_id = e.emp_id
         LEFT JOIN sys_dictionary sd4
          ON orders.account_state = sd4.dict_value
          AND sd4.dict_category = 'account_state' AND sd4.usable = 1

      WHERE orders.usable = 1
      <if test="empId!=null and empId!=''">
          AND e.emp_id=#{empId}
      </if>
      <if test="accountState!=null and accountState!=''">
         and  sd4.dict_value = #{accountState}
      </if>
      <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
          AND
          DATE_FORMAT(orders.create_time,'%Y-%m-%d')&gt;=#{startTime}
          AND
          DATE_FORMAT(orders.create_time,'%Y-%m-%d')&lt;=#{endTime}

      </if>
  </select>
</mapper>