<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdmh.entity.mapper.UserCardMapper">
    <insert id="insert">
 insert into user_card (user_id, card_id,card_identifier,card_password,card_initialization, order_id, card_cost, create_time, create_by,update_time,update_by ,usable)
       values (#{userId,jdbcType=INTEGER},#{cardId,jdbcType=INTEGER},#{cardIdentifier,jdbcType=VARCHAR}, #{cardPassword,jdbcType=VARCHAR},#{cardInitialization,jdbcType=BIT},#{orderId,jdbcType=INTEGER},#{cardCost,jdbcType=DECIMAL}, NOW(),#{createBy,jdbcType=INTEGER},NOW(),
        #{updateBy,jdbcType=INTEGER},#{usable,jdbcType=BIT})
</insert>
    <select id="countUserCardByCardId" parameterType="string" resultType="Integer">
SELECT COUNT(0) FROM user_card  WHERE usable=1 AND card_identifier=#{cardId}

</select>
    <update id="initCardPwdBycardId" parameterType="com.tdmh.entity.mapper.UserCardMapper">
  UPDATE  user_card SET card_initialization=#{cardInitialization} WHERE usable=1 AND  card_id=#{cardId}

</update>
    <select id="userCardPwdByCardId" parameterType="string" resultType="String">
SELECT card_password FROM user_card  WHERE usable=1 AND card_identifier = #{cardId}

</select>
    <select id="getUserCardByUserIdAndCardId" parameterType="map" resultType="com.tdmh.entity.UserCard">
        select user_card_id AS userCardId, user_id as userId, card_id as cardId ,card_identifier as
        cardIdentifier,card_password as cardPassword, order_id as orderId,
        create_time as createTime, create_by as createBy,update_time as updateTime,update_by as updateBy ,usable from
        user_card
        where usable=1
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="iccardId != null and iccardId != ''">
            and card_id = #{iccardId}
        </if>
    </select>
    <update id="update">
          update user_card set
          user_id = #{userId},
          card_id = #{cardId},
          card_identifier = #{cardIdentifier},
          card_password = #{cardPassword},
          order_id = #{orderId},
          update_time = NOW(),
          update_by = #{updateBy},
          usable = #{usable}
          where user_card_id = #{userCardId}
    </update>
    <!--查询补卡充值记录-->
    <select id="getAllSupList" parameterType="Integer" resultType="com.tdmh.param.CreateAccountParam">
        select uc.user_id as userId, uc.card_id as iccardId, uc.card_identifier as iccardIdentifier, uc.card_cost as castCost, uo.order_gas as orderGas,uo.order_payment as orderPayment,uc.create_time as createTime
        from user_card uc join user_orders uo on uc.order_id = uo.order_id
        where uc.user_id = #{userId}  AND uo.order_type = 3 ORDER BY uc.create_time DESC,uc.user_card_id DESC
    </select>
    <select id="getUserCardByUserIdAndnIcCardIdentifier" parameterType="map" resultType="int">
        select count(user_card_id) from user_card
        where 1=1
        <if test="userId!=null and userId!=''">
            and <![CDATA[ user_id <> #{userId} ]]>
        </if>
        <if test="iccardIdentifier!=null and iccardIdentifier!=''">
            and card_identifier = #{iccardIdentifier}
        </if>
    </select>

    <select id="getUserCardByYouSelfIdAndnIcCardIdentifier" parameterType="map" resultType="int">
        SELECT COUNT(user_card_id) FROM user_card
        WHERE user_id=#{userId} AND card_identifier=#{niccardIdentifier} AND card_identifier !=#{iccardIdentifier}
    </select>
    <select id="getCardByCardMessage" parameterType="map" resultType="int">
        SELECT COUNT(user_card_id) FROM user_card
        WHERE usable=1
        <if test="userId!=null and userId!=''">
            AND user_id = #{userId}
        </if>
        <if test="iccardId!=null and iccardId!=''">
            AND card_id = #{iccardId}
        </if>
        <if test="iccardIdentifier!=null and iccardIdentifier!=''">
            AND card_identifier=#{iccardIdentifier}
        </if>
    </select>
    <select id="selectUserCardQuery" parameterType="Integer" resultType="com.tdmh.entity.UserCard">
        SELECT
              user_id as userId ,
              card_id as cardId ,
              card_identifier as cardIdentifier,
              card_cost  as cardCost,
              usable,
              create_time as createTime
        FROM
              user_card
        WHERE
            user_id =#{userId}
        ORDER BY
            create_time DESC
    </select>
    <resultMap id="BindNewCardParam" type="com.tdmh.param.BindNewCardParam">
        <constructor>
            <idArg column="user_card_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="card_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="old_card_identifier" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="card_password" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="card_initialization" jdbcType="BIT" javaType="java.lang.Boolean"/>
            <arg column="card_cost" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="new_card_identifier" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="create_by" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_by" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="usable" jdbcType="BIT" javaType="java.lang.Boolean"/>
        </constructor>
    </resultMap>
    <select id="getBindNewCardParamByUserId" resultMap="BindNewCardParam" parameterType="integer">
        select
        user_card_id, user_id, card_id, card_identifier as old_card_identifier, card_password, card_initialization, card_cost, null as new_card_identifier,
        create_time, create_by, update_time, update_by, usable
        from user_card
        where user_id = #{userId} and usable = 1
    </select>
    <select id="checkNewCardIdentifier" resultType="boolean" parameterType="string">
        select
        count(1)
        from user_card
        where card_identifier = #{newCardIdentifier}
    </select>
    <select id="selectCountUserCard" parameterType="Integer" resultType="java.lang.Integer">

        SELECT COUNT(0) FROM user_card WHERE user_id=#{userId}  AND usable=1

    </select>
    <update id="updateUserCardByUserIdCardStatus" parameterType="com.tdmh.entity.UserCard">

      UPDATE user_card SET card_status=#{cardStatus},usable=0    WHERE user_id=#{userId}  AND usable=1
</update>
    <select id="selectUserCardByUserId" resultType="com.tdmh.entity.UserCard">
      SELECT
          user_card_id as userCardId ,
          user_id as userId ,
          card_id as cardId ,
          card_identifier as cardIdentifier,
          card_cost  as cardCost,
          create_time as createTime
      FROM user_card
      WHERE  user_id=#{userId} AND usable=#{usable}
      ORDER BY create_time DESC
    </select>
    <select id="getUserCardByCardIdentifier" resultType="com.tdmh.entity.UserCard">
        SELECT
              user_id as userId ,
              card_id as cardId ,
              card_identifier as cardIdentifier,
              card_password as cardPassword,
              card_cost  as cardCost,
              usable,
              create_time as createTime
        FROM
              user_card
        WHERE
            card_identifier =#{cardIdentifier}
    </select>
    <select id="countAccountCancellation" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM user_card WHERE user_id = #{userId} AND card_status = 2 AND usable = 0
    </select>
</mapper>