/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-7-31, 15:19:27
    Author     : Administrator
*/
.tabs-extra{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    margin-top: 10px;
}
.panes-extra{
    
}
.tabs-extra li{
    float: none!important;
}
.no-margin{
    margin: 0!important;
}
.width-full{
    width: 100%;
}
.children-width-full > div{
    width: 100%;
}
/*系统管理*/
.regional,
.organization,
.user,
.role,
.permission,
.dictionary,
.log,
.announcement,
/*账户管理*/
.entry,
.file,
.install,
.account,
.alter,
/*充值缴费管理*/
.prePayment,
.replaceCard,
.postPayment,
.invoice,
/*维修补气管理*/
.input,
.fillGas,
.balance,
.initCard,
/*账务处理*/
.preStrike,
.strike,
/*表具运行管理*/
.record,
.control,
.exception,
/*查询统计*/
.cardQuery,
.accountQuery,
.userQuery,
.exceptionQuery,
.businessDataQuery,
.businessReportQuery
{}
.nav-item{}
.pane{}
.panes{
    width: 100%;
}
.search-box,.data-box,.controller-box{
    margin: 20px;
    text-align: center;
}
.search-box label,select{
    display: inline;
    width: 50%;
    font-size: 15px;
}
.emp-name,.emp-deptno,.emp-job{}
.general{
    display: inline;
    width: 50%!important;
    font-size: 13px;
}
.display-block{
    display: inline-block;
}
.align-center{
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
.color-white{
    color: white;
}
.input-num,.go,.set-size{
    width: 80px!important;
}
.operation-text{
    vertical-align: top;
}

.tip{
    width: 240px;
}
.menus{
    margin-top: 50px;
}
.logout-form{
    margin-top: 10px;
    width: 100%;
    text-align: right;
}

.mdui-dialog-content form {
    padding: 0 10%;
}

.mdui-dialog-content form .mdui-textfield {
    padding-top: 0;
}

.mdui-dialog-content form .mdui-textfield label {
    font-size: 18px;
    font-weight: 400;
}

.mdui-dialog-content form .mdui-textfield .mdui-textfield-input:focus {
    border-bottom: 1px solid rgba(0, 0, 0, .87);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .87);
}

.mdui-dialog-content form .mdui-textfield.mdui-textfield-focus label {
    color: #080808;
}

.mdui-dialog-content form .mdui-textfield .mdui-textfield-input {
    margin: 0;
    /*height: 2.5rem;*/
}

.mdui-toolbar .mdui-select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    background-image: none;
    padding-right: 0;
    width: 80px;
}